body  {
  width: 400px;
  height: 350px;
  display: grid;
  grid-template-rows: 2fr 1fr 5fr 1fr 1fr;
}

h2 {
  grid-row: 1;
  justify-self: center;
  font-family: 'Roboto', sans-serif;
}

hr {
  width: 100%;
  height: 0px;
}

.inline {
  display: inline;
}

#blue {
  border-color: #1DA1F2;
  grid-row: 2;
}

#black {
  grid-row: 4;
  margin-top: 30px;
}

#pickedColour {
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin-top: 0px;
  border: none;
  border-color: transparent;
  background-color: transparent;
}

#pickedColour:focus {
  outline: none;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
}

p {
  grid-row: 3;
  grid-column: 1;
  margin-top: 0px;
  align-self: flex-start;
  justify-self: center;
}

#save {
  grid-row: 3;
  grid-column: 1;
  width: 45%;
  align-self: flex-end;
  margin-top: 100px;
  border: 1px solid #1DA1F2;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

#reset {
  grid-row: 3;
  grid-column: 1;
  width: 45%;
  align-self: flex-end;
  justify-self: end;
  margin-top: 100px;
  border: 1px solid #1DA1F2;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.footer {
  align-self: center;
  grid-row: 5;
  grid-column: 1;
  height: 40px;
  width: 180px;
  font-size: 0.9em;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.center {
  text-align: center;
}

#git {
  justify-self: end;
}

i {
  color: #1DA1F2;
  padding: 0px 5px;
  font-size: 1em;
}